<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Testtassk_Ordergrid::orders_menu"
             title="Quick Orders"
             module="Task_QuickOrder"
             parent="Magento_Sales::sales_operation"
             action="quick_orders/grid/index"
             resource="Task_QuickOrder::orders_menu"
             sortOrder="80" />
    </menu>
</config>
